# macOS
.DS_Store
.AppleDouble
.LSOverride

# Hugo
# Generated site
public/
# Generated resources (some people prefer to commit this if they don't want to run PostCSS etcn CI)
resources/_gen/
# Build lock file
.hugo_build.lock

# Node (if you use tools like PostCSS or Tailwind)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo

medium_to_hugo.py
download_images.py
cleanup_images.py