<footer class="footer">
  <span>
    {{ with site.Language.Params.copyright }}
      {{ . }}
    {{ else }}
      © 2026 Bitcoin In Action
    {{ end }}
    &nbsp;::&nbsp;
    <a href="https://github.com/bitcoin-dalla-teoria-alla-pratica" target="_blank" rel="noopener noreferrer">
      GitHub
    </a>    
  </span>
</footer>

{{ $menu := resources.Get "js/menu.js" | js.Build }}
{{ $cp := resources.Get "js/code.js" | js.Build }}

{{ $bundle := slice $menu $cp | resources.Concat "bundle.js" | resources.Minify }}

<script type="text/javascript" src="{{ $bundle.RelPermalink }}"></script>

<!-- Extended footer section-->
{{ partial "extended_footer.html" . }}
